*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins ",sans-serif;
}

:root{
 ---gradientColor:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 2rem; ;
  cursor:pointer
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: .6rem 1.5rem;
  background:var(---gradientColor) ;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

.btn a{
  color:white;
  font-weight: 500;
}
.btn:hover{
  background: blue;
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

body{
  background: white;
}

@media screen and(min-width:1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }

  .section{
    padding: 6rem 0 4rem
  }
  
}